[submodule "src/momentfm"]
	path = src/momentfm
	url = https://github.com/Ilovecodingforever/moment.git
[submodule "chronos_forecasting"]
	path = chronos_forecasting
	url = https://github.com/Ilovecodingforever/chronos-forecasting.git
[submodule "src/chronos_forecasting"]
	path = src/chronos_forecasting
	url = https://github.com/Ilovecodingforever/chronos-forecasting.git
[submodule "mimic3_benchmarks"]
	path = mimic3_benchmarks
	url = https://github.com/Ilovecodingforever/mimic3-benchmarks.git
[submodule "moment-research"]
	path = moment-research
	url = https://github.com/Ilovecodingforever/moment-research.git
